<div class="schedule__control">
  <select class="schedule__filter">
    <option value="">Tất cả lệnh</option>
    <option value="1">Lệnh bán</option>
    <option value="2">Lệnh mua</option>
  </select>
  <button class="schedule__cancel">Hủy bỏ tất cả</button>
</div>
<div id="schedule__list" class="schedule__list">
  <div class="schedule__item schedule__item--sell">
    <div class="schedule__summary">
      <div class="schedule__statistics">
        <div class="schedule__type">Giới hạn bán </div>
        <div data-percent="60" data-chart="circle" data-type="sell" class="schedule__chart"></div>
      </div>
      <div class="schedule__description">
        <div class="schedule__titlte">TRX/USDT</div>
        <div class="schedule__detail"> <span>Số lượng</span><span>0/<span>333.3</span></span>
        </div>
        <div class="schedule__detail"> <span>Giá</span><span>0,06</span></div>
      </div>
    </div>
    <div class="schedule__handle">
      <div class="schedule__time">03-17 15:36:26</div>
      <button class="schedule__cancel">Hủy bỏ</button>
    </div>
  </div>
  <div class="schedule__item schedule__item--buy">
    <div class="schedule__summary">
      <div class="schedule__statistics">
        <div class="schedule__type">Giới hạn mua </div>
        <div data-percent="0" data-chart="circle" data-type="buy" class="schedule__chart"></div>
      </div>
      <div class="schedule__description">
        <div class="schedule__titlte">TRX/USDT</div>
        <div class="schedule__detail"> <span>Số lượng</span><span>0/<span>333.3</span></span>
        </div>
        <div class="schedule__detail"> <span>Giá</span><span>0,06</span></div>
      </div>
    </div>
    <div class="schedule__handle">
      <div class="schedule__time">03-17 15:36:26</div>
      <button class="schedule__cancel">Hủy bỏ</button>
    </div>
  </div>
</div>
