<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <title>Đăng ký | Chứng khoán</title>
  <meta name="description" content="description" />
  <meta name="keywords" content="keywords" />
  <meta property="og:title" content="Đăng ký | Chứng khoán" />
  <meta property="og:description" content="description_social" />
  <meta property="og:image" content="image_social" />
  <meta property="og:url" content="url_social" />
  <meta property="og:type" content="type_social" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="shortcut icon" href="./assets/images/favicon.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&amp;display=swap" rel="stylesheet">
<!--  <link rel="stylesheet" href="./assets/css/style.css">-->

</head>

<body>
<div class="wrapper">
  <router-outlet></router-outlet>
</div>
<!--/.wrapper-->
<!--<script src="./assets/js/vendor/jquery.min.js"></script>-->

<!--<script src="./assets/js/vendor/jquery.validate.min.js"></script>-->
<!--<script src="./assets/js/common.js"></script>-->
</body>

</html>
