<div class="main">
  <div class="main-nav">
    <div class="header">
      <div class="price-title">giá trị tài sản(BTC) <span><i class="fas fa-eye"></i></span></div>
      <div class="price-text">
        <div class="price-text1">0.0070579</div>&nbsp;&nbsp;
        <div class="price-text2">= 100000$</div>
      </div>
      <div class="price-title">PNJ của ngày hôm qua   <span class="icon-chamthan"><i class="fas fa-exclamation-circle"></i></span></div>
      <div class="price-tomorow">+10,76$ / 32,52$<span class="price-title right-icon"><i class="fas fa-chevron-right"></i></span></div>
      <nav>
        <button class="yellow-button">Nạp</button>
        <button>Rút</button>
        <button>Chuyển</button>
      </nav>
    </div>
  </div>
  <div class="main-content">
    <div class="top-main">
      <p>Chuyển đổi sang số dư nhỏ nhất</p>
      <span class="price-title right-icon"><i class="fas fa-chevron-right"></i></span>
    </div>
    <div class="price-title"> <span><i class="fas fa-eye"></i></span>&nbsp;&nbsp;ẩn số dư nhỏ </div>
    <div class="main-list">
      <ul>
        <li>
          <div class="item">
            <div class="icon">
              <img src="https://images.unsplash.com/photo-1514996550219-62672472d03b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ" alt="">
            </div>
            <div class="text-name">
              <div class="name-price">TRX</div>
              <div class="name-price2">BUSD</div>
            </div>
            <div class="price-list">
              <div class="price-pre">31919.11</div>
              <div class="name-price2">5.81$</div>
            </div>

          </div>
        </li>
        <br>
        <br>
        <li>
          <div class="item">
            <div class="icon">
              <img src="https://images.unsplash.com/photo-1514996550219-62672472d03b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ" alt="">
            </div>
            <div class="text-name">
              <div class="name-price">TRX</div>
              <div class="name-price2">BUSD</div>
            </div>
            <div class="price-list">
              <div class="price-pre">31919.11</div>
              <div class="name-price2">5.81$</div>
            </div>

          </div>
        </li>
        <br>
        <br>      <li>
        <div class="item">
          <div class="icon">
            <img src="https://images.unsplash.com/photo-1514996550219-62672472d03b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ" alt="">
          </div>
          <div class="text-name">
            <div class="name-price">TRX</div>
            <div class="name-price2">BUSD</div>
          </div>
          <div class="price-list">
            <div class="price-pre">31919.11</div>
            <div class="name-price2">5.81$</div>
          </div>

        </div>
      </li>
        <br>
        <br>      <li>
        <div class="item">
          <div class="icon">
            <img src="https://images.unsplash.com/photo-1514996550219-62672472d03b?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ" alt="">
          </div>
          <div class="text-name">
            <div class="name-price">TRX</div>
            <div class="name-price2">BUSD</div>
          </div>
          <div class="price-list">
            <div class="price-pre">31919.11</div>
            <div class="name-price2">5.81$</div>
          </div>

        </div>
      </li>
        <br>
        <br>

      </ul>

    </div>
  </div>
</div>
<app-footer></app-footer>
